.addRecipeTitle{
    display: flex;
    justify-content: center;
    font-weight: bold ; 
    color:blueviolet;
    font-size: 40px;
    text-decoration: underline;
    
}

.homeButton{
    position: absolute;
    left: 16px;
    top: 40px;
}



.questions{
  color: blueviolet;
  font-weight: bold;
  margin-bottom: 2px;
  margin-left: 8px;

}

.choice{
    margin-bottom: 16px;
    margin-left: 8px;
}



.newIngredient{
    display: flex;
    justify-content: flex-start;
    gap: 120px;
   
}

.ingredientInput{
    margin-bottom: 16px;
    margin-top: 4px;
    margin-left: 8px;
    }
    
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.listOfIngredient{
    color: blueviolet;
    font-weight: bold;
    margin-bottom: 16px;
    margin-left: 8px;

}



.descriptionOfSteps{
    color: blueviolet;
    font-weight: bold;
    margin-bottom: 16px;
    margin-left: 8px;
 

}

.textOfSteps{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 1200px;
}

.numbersOfStepList{
    list-style: center;

}

.validationButton{
    position: relative;
    left: 26px;
    top: 32px;
   
}

.clearButton{
    position:absolute;
    right:32px;
    top:0px;

}

.topPageManagement{
    position: relative;
}

.nameOfStep{
    color: blueviolet;
    font-weight: bold;
    display: flex;
    justify-content: center;
   
}

.addStep{
     margin-left: 16px;
    display: block;
}

.subtitleStep{
    color: blueviolet;
    font-weight: bold;
    justify-content: center;
    display: flex;
    text-decoration: underline;
    margin-top: 16px;
    margin-bottom: 32px;
    

}
.inputName{
   margin-bottom: 60px;
   margin-top: 8px;
}

.container{
    display: flex;
    justify-content: center;
}

.ingredientAsk{
    margin-left: 8px;
}

.deleteStepButton{

    margin-left: 32px;
    margin-bottom: 32px;
 
}

.deleteIngredient{  
   text-align: center;
 
}

.deleteInstruction{

    margin-left: 32px;
   
}